<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Basic Form - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="{CSS_URL}/easyui.css">
	<link rel="stylesheet" type="text/css" href="{CSS_URL}/icon.css">
	<script type="text/javascript" src="{JS_URL}/jquery.min.js"></script>
	<script type="text/javascript" src="{JS_URL}/jquery.easyui.min.js"></script>
</head>
<body>

	<div class="easyui-panel" title="New Topic" style="width:100%;max-width:400px;padding:30px 60px;">

		<form id="ff" method="post">
			<div style="margin-bottom:20px">
			<input class="easyui-combotree" data-options="url:'index.php?m=admin&f=cat&a=showCat',method:'get',label:'选择上级分类：',labelPosition:'top'" style="width:100%" name="pid">
			</div>


			<div style="margin-bottom:20px">
				<input class="easyui-textbox" name="cname" style="width:100%" data-options="label:'分类名字:',required:true">
			</div>


			<div style="margin-bottom:20px">
				<input class="easyui-textbox" name="cinfo" style="width:100%;height:60px" data-options="label:'分类简介:',multiline:true">
			</div>

		</form>
		<div style="text-align:center;padding:5px 0">
			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">Submit</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">Clear</a>
		</div>
	</div>
	<script>
		function submitForm(){
		    $("#ff").attr("action","index.php?m=admin&f=cat&a=addCatCon");

		    if($("#ff").form("validate")){
                $('#ff').submit();
			}

		}
		function clearForm(){
			$('#ff').form('clear');
		}
	</script>
</body>
</html>