<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{JS_URL}/jquery.min.js"></script>
    <style>
        th,td{
            height:80px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>
                id
            </th>
            <th>
                角色名字
            </th>
        </tr>

        {foreach $data as $v}
            <tr>
                <td>
                    {$v["lid"]}
                </td>
                <td>
                    {$v["lname"]}
                </td>
            </tr>
        {/foreach}
    </table>
    <script>
        $(function(){
            var flag=true;
            var num=0;
            $(window).scroll(function(){
                  if($(window).scrollTop()>=$("table").outerHeight()-$(window).height()){
                      if(!flag){
                          return;
                      }
                      flag=false;
                      num++;
                     $.ajax({
                         url:"index.php?m=admin&f=member&a=ajax",
                         data:{ page:num },
                         type:"post",
                         dataType:"json",
                         success:function(e){
                            for(var i=0;i<e.length;i++){
                                $("<tr><td>"+e[i].lid+"</td><td>"+e[i].lname+"</td></tr>").appendTo("tbody");

                                flag=true;

                            }
                         }
                      })
                  }

            })
        })
    </script>
</body>
</html>