<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_URL}/bootstrap.min.css">
    <script src="{JS_URL}/jquery.min.js"></script>
</head>
<body>
  <table class="table table-bordered">
        <tr>
            <th>用户名</th>
            <th>角色</th>
            <th>操作</th>
        </tr>
      {foreach $data as $v}
            <tr>
                <td>

                    {$v["aname"]}
                </td>
                <td>
                    {$v["lname"]}
                </td>
                <td>
                    删除

                    编辑
                </td>
            </tr>
      {/foreach}

  </table>
</body>
</html>