<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
  <table>
      <tr>
          <th>id</th>
          <th>推荐位名称</th>
          <th>操作</th>
      </tr>
      {foreach $data as $v}
        <tr>
            <td>{$v["pid"]}</td>
            <td class="pname" pid="{$v['pid']}">{$v["pname"]}</td>
            
            <td class="remove">
                <a href="index.php?m=admin&f=pos&a=del&pid={$v['pid']}">删除</a>
            </td>
        </tr>
      {/foreach}
  </table>

  <script src="{JS_URL}/jquery.min.js"></script>
  <script src="{JS_URL}/showPos.js"></script>
</body>
</html>