<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_URL}/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form action="index.php?m=admin&f=user&a=addRoleCon" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">角色名称</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="角色名称" name="rname">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">发布文章的数量</label>

                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="写入文章的最少发布数量" name="connum">
            </div>

            <div class="form-group">
                <label>查看文章的级别</label>
            </div>

            <label for="one">普通 :</label> <input type="radio"  name="conlevel" value="1" id="one">

            <label>精华 :<input type="radio"  name="conlevel" value="2"></label>

           <label> 极品 :<input type="radio"  name="conlevel" value="3"></label>

            <br>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</body>
</html>