<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <a href="index.php?m=index&f=write&a=addConCon&cid={$cid}">添加内容</a>
  <ul>
      {if count($data)>0}
      {foreach $data as $v}
            <li>
                <a href="index.php?m=index&f=write&a=edit&cid={$v['cid']}">{$v["ctitle"]}
                </a>
              {$v["condate"]}
              {$v["uid"]}
            </li>
      {/foreach}
      {else}
       <li>
           没有内容
       </li>
      {/if}
  </ul>
</body>
</html>