{include file=$header}
<link rel="stylesheet" href="{CSS_URL}/wyp/personal.css">
<script src="{JS_URL}/wyp/personal.js"></script>
<section class="personal">
    <main>
        <div class="personal1">
            <div class="personal2">
                <div class="personal21"><img src="" alt=""></div>
                <div class="personal22">
                    <span></span>
                    <p>这是简介</p>
                    <a href="">关注 <span>0</span></a>
                    <a href="">喜欢 <span>0</span></a>
                    <a href="">文章 <span>0</span></a>
                </div>
            </div>
            <div class="personal3">
                <div class="navi">
                    <ul>
                        <li class="icon-comment"> <p>最新评论</p></li>
                        <li class="icon-_s"> <p>最新收录</p></li>
                        <li class="icon-remen3"> <p>热门</p></li>
                        <li class="icon-tuijian"> <p>关注</p></li>
                        <li class="icon-slice19"> <p>粉丝数量</p></li>
                    </ul>
                    <div class="line"></div>
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line3"></div>
                    <div class="line line4"></div>
                </div>
                <div class="personal4">
                    <div class="content1" style="display: none">
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <a href="" class="more icon-liulan"> &nbsp;&nbsp;查看更多</a>
                    </div>
                    <div class="content1" style="display: block">
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <a href="" class="more icon-liulan"> &nbsp;&nbsp;查看更多</a>
                    </div>
                    <div class="content1" style="display: none">
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="item"></div>
                            <div class="item1"></div>
                            <div class="content2">
                                <div class="content3">
                                    <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                    <a href="" class="content32">陌上花开</a>
                                    <span>3小时前</span>
                                </div>
                                <div class="content4">
                                    <div class="content41">
                                        <a href="">你愿意爱我吗？</a>
                                        <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                    </div>
                                    <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                                </div>
                                <div class="content5">
                                    <a href="" class="content52 icon-liulan3"> 521</a>
                                    <a href="" class="content53 icon-comment"> 215</a>
                                    <div class="content54 icon-xiai1"> 125</div>
                                    <div class="content55 icon-qian1"> 1</div>
                                </div>
                            </div>
                        </div>
                        <a href="" class="more icon-liulan"> &nbsp;&nbsp;查看更多</a>
                    </div>
                    <div class="content1" style="display: none">

                        <ul>

                            {foreach $data as $v}
                            <li>
                                {$v["uname"]}
                            </li>
                            {/foreach}

                        </ul>
                    </div>
                    <div class="content1" style="display: none">
                       <ul>
                           {foreach $fance as $v}
                           <li>
                            {$v["uname"]}
                           </li>
                           {/foreach}
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
{include file=$footer}