<section class="bottom">
    <main>
        <div class="bottomLeft">随·心</div>
        <div class="bottom1">
            <div class="bottom2">
                <a href="">关于随心</a>
                <span>·</span>
                <a href="">联系我们</a>
                <span>·</span>
                <a href="">加入我们</a>
                <span>·</span>
                <a href="">随心记</a>
                <span>·</span>
                <a href="">品牌徽标</a>
                <span>·</span>
                <a href="">帮助中心</a>
                <span>·</span>
                <a href="">合作伙伴</a>
            </div>
            <span>©2012-2017 上海随心信息科技有限公司 / 随心 / 沪ICP备11018329号-5 / 沪公网安备31010402002252号</span>
            <a href="">沪公网安备31010402002252号</a>
            <p class="icon-liulan4">举报电话：021-34770013</p>
        </div>
    </main>
</section>
<div class="top icon-arrow-right"></div>
</body>
</html>