{include file=$header}
<link rel="stylesheet" href="{CSS_URL}/wyp/lists.css">
<script src="{JS_URL}/wyp/lists.js"></script>
<section class="boot">
    <main>
        <div class="bootLeft">
            <div class="bootTop">
                <div class="bootTop1"></div>
                <div class="bootTop2">
                    <a href="index.php?m=index&f=lists">谈情说爱</a>
                    <span>收录了127730篇文章 · 467129人关注</span>
                </div>
                <a href="" class="bootTop3">投稿</a>
                <a href="" class="bootTop4 icon-jia"> <p>关注</p></a>
            </div>
            <div class="navi">
                <ul>
                    <li class="icon-comment"> <p>最新评论</p></li>
                    <li class="icon-_s"> <p>最新收录</p></li>
                    <li class="icon-remen3"> <p>热门</p></li>
                </ul>
                <div class="line"></div>
                <div class="line line1"></div>
                <div class="line line2"></div>
            </div>
            <div class="bootBottom">
                <div class="content1" style="display: none">
                    <div class="item2">
                        <div class="item"></div>
                        <div class="item1"></div>
                        <div class="content2">
                            <div class="content3">
                                <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                <a href="" class="content32">陌上花开</a>
                                <span>3小时前</span>
                            </div>
                            <div class="content4">
                                <div class="content41">
                                    <a href="">你愿意爱我吗？</a>
                                    <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                </div>
                                <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                            </div>
                            <div class="content5">
                                <a href="" class="content52 icon-liulan3"> 521</a>
                                <a href="" class="content53 icon-comment"> 215</a>
                                <div class="content54 icon-xiai1"> 125</div>
                                <div class="content55 icon-qian1"> 1</div>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <div class="item"></div>
                        <div class="item1"></div>
                        <div class="content2">
                            <div class="content3">
                                <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                <a href="" class="content32">陌上花开</a>
                                <span>3小时前</span>
                            </div>
                            <div class="content4">
                                <div class="content41">
                                    <a href="">你愿意爱我吗？</a>
                                    <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                </div>
                                <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                            </div>
                            <div class="content5">
                                <a href="" class="content52 icon-liulan3"> 521</a>
                                <a href="" class="content53 icon-comment"> 215</a>
                                <div class="content54 icon-xiai1"> 125</div>
                                <div class="content55 icon-qian1"> 1</div>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <div class="item"></div>
                        <div class="item1"></div>
                        <div class="content2">
                            <div class="content3">
                                <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                <a href="" class="content32">陌上花开</a>
                                <span>3小时前</span>
                            </div>
                            <div class="content4">
                                <div class="content41">
                                    <a href="">你愿意爱我吗？</a>
                                    <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                </div>
                                <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                            </div>
                            <div class="content5">
                                <a href="" class="content52 icon-liulan3"> 521</a>
                                <a href="" class="content53 icon-comment"> 215</a>
                                <div class="content54 icon-xiai1"> 125</div>
                                <div class="content55 icon-qian1"> 1</div>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <div class="item"></div>
                        <div class="item1"></div>
                        <div class="content2">
                            <div class="content3">
                                <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                <a href="" class="content32">陌上花开</a>
                                <span>3小时前</span>
                            </div>
                            <div class="content4">
                                <div class="content41">
                                    <a href="">你愿意爱我吗？</a>
                                    <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                </div>
                                <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                            </div>
                            <div class="content5">
                                <a href="" class="content52 icon-liulan3"> 521</a>
                                <a href="" class="content53 icon-comment"> 215</a>
                                <div class="content54 icon-xiai1"> 125</div>
                                <div class="content55 icon-qian1"> 1</div>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <div class="item"></div>
                        <div class="item1"></div>
                        <div class="content2">
                            <div class="content3">
                                <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                <a href="" class="content32">陌上花开</a>
                                <span>3小时前</span>
                            </div>
                            <div class="content4">
                                <div class="content41">
                                    <a href="">你愿意爱我吗？</a>
                                    <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                </div>
                                <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                            </div>
                            <div class="content5">
                                <a href="" class="content52 icon-liulan3"> 521</a>
                                <a href="" class="content53 icon-comment"> 215</a>
                                <div class="content54 icon-xiai1"> 125</div>
                                <div class="content55 icon-qian1"> 1</div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="more icon-liulan"> &nbsp;&nbsp;查看更多</a>
                </div>
                <div class="content1">

                    {foreach $data as $v}
                    <div class="item2">
                        <div class="item"></div>
                        <div class="item1"></div>
                        <div class="content2">
                            <div class="content3">
                                <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                <a href="" class="content32">{$v["uname"]}</a>
                                <span>3小时前</span>
                            </div>
                            <div class="content4">
                                <div class="content41">
                                    <a href="index.php?m=index&f=show&a=showCon&cid={$v['cid']}&uname={$v['uname']}">{$v["ctitle"]}</a>
                                    <span>{substr($v["con"],0,30)}...</span>
                                </div>
                                <div class="content42"><img src="{IMG_URL}/5.jpg" alt=""></div>
                            </div>
                            <div class="content5">
                                <a href="" class="content52 icon-liulan3">点击量</a>
                                <a href="" class="content53 icon-comment"> 215</a>
                                <div class="content54 icon-xiai1"> 125</div>
                                <div class="content55 icon-qian1"> 1</div>
                            </div>
                        </div>
                    </div>

                    {/foreach}
                    <a href="" class="more icon-liulan"> &nbsp;&nbsp;查看更多</a>
                </div>
                <div class="content1" style="display: none">
                    <div class="item2">
                        <div class="item"></div>
                        <div class="item1"></div>
                        <div class="content2">
                            <div class="content3">
                                <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                <a href="" class="content32">陌上花开2</a>
                                <span>3小时前</span>
                            </div>
                            <div class="content4">
                                <div class="content41">
                                    <a href="">你愿意爱我吗？</a>
                                    <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                </div>
                                <div class="content42"><img src="{IMG_URL}/4.jpg" alt=""></div>
                            </div>
                            <div class="content5">
                                <a href="" class="content52 icon-liulan3"> 521</a>
                                <a href="" class="content53 icon-comment"> 215</a>
                                <div class="content54 icon-xiai1"> 125</div>
                                <div class="content55 icon-qian1"> 1</div>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <div class="item"></div>
                        <div class="item1"></div>
                        <div class="content2">
                            <div class="content3">
                                <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                <a href="" class="content32">陌上花开</a>
                                <span>3小时前</span>
                            </div>
                            <div class="content4">
                                <div class="content41">
                                    <a href="">你愿意爱我吗？</a>
                                    <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                </div>
                                <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                            </div>
                            <div class="content5">
                                <a href="" class="content52 icon-liulan3"> 521</a>
                                <a href="" class="content53 icon-comment"> 215</a>
                                <div class="content54 icon-xiai1"> 125</div>
                                <div class="content55 icon-qian1"> 1</div>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <div class="item"></div>
                        <div class="item1"></div>
                        <div class="content2">
                            <div class="content3">
                                <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                <a href="" class="content32">陌上花开</a>
                                <span>3小时前</span>
                            </div>
                            <div class="content4">
                                <div class="content41">
                                    <a href="">你愿意爱我吗？</a>
                                    <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                </div>
                                <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                            </div>
                            <div class="content5">
                                <a href="" class="content52 icon-liulan3"> 521</a>
                                <a href="" class="content53 icon-comment"> 215</a>
                                <div class="content54 icon-xiai1"> 125</div>
                                <div class="content55 icon-qian1"> 1</div>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <div class="item"></div>
                        <div class="item1"></div>
                        <div class="content2">
                            <div class="content3">
                                <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                <a href="" class="content32">陌上花开</a>
                                <span>3小时前</span>
                            </div>
                            <div class="content4">
                                <div class="content41">
                                    <a href="">你愿意爱我吗？</a>
                                    <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                </div>
                                <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                            </div>
                            <div class="content5">
                                <a href="" class="content52 icon-liulan3"> 521</a>
                                <a href="" class="content53 icon-comment"> 215</a>
                                <div class="content54 icon-xiai1"> 125</div>
                                <div class="content55 icon-qian1"> 1</div>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <div class="item"></div>
                        <div class="item1"></div>
                        <div class="content2">
                            <div class="content3">
                                <a href="" class="content31"><img src="{IMG_URL}/touxiang.jpg" alt=""></a>
                                <a href="" class="content32">陌上花开</a>
                                <span>3小时前</span>
                            </div>
                            <div class="content4">
                                <div class="content41">
                                    <a href="">你愿意爱我吗？</a>
                                    <span>我只希望这一程，你能活得烈马青葱，用你喜欢的模样，过你喜欢的生活。手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿当命运需要我们逆风飞翔的时候，请不要随风...</span>
                                </div>
                                <div class="content42"><img src="{IMG_URL}/11.png" alt=""></div>
                            </div>
                            <div class="content5">
                                <a href="" class="content52 icon-liulan3"> 521</a>
                                <a href="" class="content53 icon-comment"> 215</a>
                                <div class="content54 icon-xiai1"> 125</div>
                                <div class="content55 icon-qian1"> 1</div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="more icon-liulan"> &nbsp;&nbsp;查看更多</a>
                </div>
            </div>
        </div>
        <div class="bootRight">
            <div class="bootRight1">
                <span>专题公告</span>
                <p>柏拉图说每个恋爱中的人都是诗人，这里并不要求你一定要写得诗情画意，态度认真就好如果你想分享自己或者身边人的爱情故事，欢迎前来投稿<br>投稿须知：<br>1.本专题仅收录关于爱情的文章。<br>2.爱情类小说的“精彩”，是指文章有小说的基本结构，运用了基本写法，语言流畅，情节动人。<br>专题主编 夏末 <br>http://www.suixin.com/u/6aa245e48ccc<br>微信关注公众号“随·心” suixin，进入随心丰富多彩的专题社群！</p>

            </div>
            <div class="bootRight2">
                <span>分享到：</span><a href="" class="icon-Shape"></a><a href="" class="icon-weixin1"></a><a href="" class="icon-gengduo4"></a>
            </div>
            <div class="bootRight3">
                <span>管理员</span>
                <a href=""><div class="user"></div>随心[创建者]</a>
                <a href=""><div class="user"></div>夏末</a>
                <a href=""><div class="user"></div>夏末</a>
                <a href=""><div class="user"></div>夏末</a>
                <a href=""><div class="user"></div>夏末</a>
                <a href=""><div class="user"></div>夏末</a>
            </div>
            <div class="bootRight4">
                <span>推荐作者</span>
                <div class="other icon-shuaxin"><span>换一批</span></div>
                <div class="author"></div>
                <div class="author"></div>
                <div class="author"></div>
                <div class="author"></div>
                <div class="author"></div>
            </div>
        </div>
    </main>
</section>
{include file=$footer}