
    <!--作者信息-->
    <div class="authorbox">
        <div class="authorPhoto">

        </div>
        <div class="authorinfo">
            <div class="authorname">
               {$uname}
            </div>
            <div class="time">
                10楼   xxx:xxx:xxx
            </div>
        </div>
    </div>

    <div class="messagebox">
        <div class="message">
            {$mcon}
        </div>
        <div class="replaybtn">
            <button type="button" class="rbtn" uid2="{$uid}" idnum="{$idnum}">回复</button>
        </div>

        <div class="replaybox" >


            <div class="addmessage">

                <div class="addmessage"style="display: none">
                    <button type="button" class="rbtn" >添加新评论</button>
            <div class="replayform" style="margin-top: 5px;">
                <textarea style="width: 100%;height:50px;padding:0;margin:0"></textarea>
                <button type="button"class="replayBtn">提交</button>
                <button type="button" class="cancel1">取消</button>
            </div>

        </div>
    </div>
