<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_URL}/wyp/bootstrap.css">
    <link rel="stylesheet" href="{CSS_URL}/wyp/reg.css">
    <script src="{JS_URL}/wyp/jquery-3.2.1.js"></script>
    <script src="{JS_URL}/wyp/jquery.validate.js"></script>
</head>
<body>
<form class="form-horizontal forms" action="index.php?m=index&f=reg&a=check" method="post" id="form">
    <h5>注册</h5>
    <ul class="list-group">
        <li class="list-group-item glyphicon glyphicon-user">
            <input type="text" placeholder="请输入用户名" name="uname">
        </li>
        <li class="list-group-item glyphicon glyphicon-lock">
            <input type="password" placeholder="请输入密码" name="upass1" id="pass">
        </li>
        <li class="list-group-item glyphicon glyphicon-lock">
            <input type="password" placeholder="请再次输入密码" name="upass2">
        </li>
        <li class="list-group-item glyphicon glyphicon-lock">
            <input type="text" placeholder="请输入手机号" name="phone">
        </li>
        <li class="list-group-item glyphicon glyphicon-picture">
            <input type="text" placeholder="请输入图形验证码" name="imgCode" >
            <a href="javascript:;" class="code"><img src="index.php?m=index&f=reg&a=code" alt="" onclick="this.src='index.php?m=index&f=reg&a=code'" style="display: none" class="imgcode"></a>

            <label id="imgCode-error" class="error" for="imgCode"></label>
        </li>
    </ul>
    <button type="submit">注册</button>
    <span>已注册，点击这里<a href="index.php?m=index&f=login">登陆</a></span>
</form>
<a href="index.php" class="top">随·心</a>
</body>
<script src="{JS_URL}/wyp/reg.js"></script>
</html>